<app-navbar></app-navbar>
<div class="container mx-auto flex mt-10">
  <!-- SideMenu lateral -->
  <aside class="w-64 mr-4">
    <ul class="flex flex-col font-medium text-blue-950">
      <li class="hover:bg-gray-200 rounded-lg cursor-pointer h-10 mb-2">
        <a class="block bg-sky-100 rounded-lg py-1 px-3 h-10 text-sky-700"
          ><fa-icon [icon]="faTrello"></fa-icon> Tableros</a
        >
      </li>
      <li class="hover:bg-gray-200 rounded-lg cursor-pointer h-10 mb-2">
        <a class="block py-1 px-3"
          ><fa-icon [icon]="faBox"></fa-icon> Plantillas</a
        >
      </li>
      <li class="hover:bg-gray-200 rounded-lg cursor-pointer h-10 mb-2">
        <a class="block py-1 px-3"
          ><fa-icon [icon]="faWaveSquare"></fa-icon> Inicio</a
        >
      </li>
    </ul>
    <hr class="border-spacing-0 border-gray-300" />

    <cdk-accordion>
      <cdk-accordion-item
        #accordionMenu="cdkAccordionItem">
          <!-- Contenido visible del accordion -->
          <h2 class="block font-bold pt-4 pb-2 px-2 text-xs text-blue-950">
            Tus espacios de trabajo
          </h2>
          <button type="button" (click)="accordionMenu.toggle()" class="w-full flex justify-between align-center px-2  hover:bg-gray-200 rounded-lg">
            <div
              class="flex items-center"
            >
              <img
                class="w-10 h-10 rounded-lg mx-2"
                src="https://api.lorem.space/image/face?w=400&h=400"
                alt=""
              />
              <div class="w-3/4 text-left text-sm block p-2 text-gray-700">
                Espacio de trabajo de Brenda Sutara
              </div>
              <fa-icon [icon]="accordionMenu.expanded ? faAngleUp : faAngleDown"></fa-icon>
            </div>
          </button>
          <!-- FIN Contenido visible del accordion -->

          <!-- Parte desplegable -->
          <ul
            [style.display]="accordionMenu.expanded ? '' : 'none' "
            class="flex flex-col text-sm text-gray-700 mt-1">
            <li class="hover:bg-gray-200 rounded-lg cursor-pointer mb-1">
              <a class="block py-2 px-3 ml-5"
                ><fa-icon [icon]="faTrello" class="mr-3.5"></fa-icon> Tableros</a
              >
            </li>
            <li class="hover:bg-gray-200 rounded-lg cursor-pointer mb-1">
              <a class="block py-2 px-3 ml-5"
                ><fa-icon [icon]="faHeart" class="mr-3"></fa-icon> Lo más destacado</a
              >
            </li>
            <li class="hover:bg-gray-200 rounded-lg cursor-pointer mb-1">
              <a class="block py-2 px-3 ml-5"
                ><fa-icon [icon]="faBorderAll" class="mr-3.5"></fa-icon> Vistas</a
              >
            </li>
            <li class="hover:bg-gray-200 rounded-lg cursor-pointer mb-1">
              <a class="block py-2 px-3 ml-5"
                ><fa-icon [icon]="faUsers" class="mr-2"></fa-icon> Miembros</a
              >
            </li>
            <li class="hover:bg-gray-200 rounded-lg cursor-pointer mb-1">
              <a class="block py-2 px-3 ml-5"
                ><fa-icon [icon]="faGear" class="mr-3"></fa-icon> Configuración</a
              >
            </li>
          </ul>
          <!-- FIN Parte desplegable -->
      </cdk-accordion-item>
    </cdk-accordion>

  </aside>
  <!-- FIN SideMenu lateral -->

  <div class="w-8/12">
    <h1 class="text-lg font-bold mb-4 text-gray-600"><fa-icon [icon]="faClock" class="pr-2"></fa-icon>Visto recientemente</h1>

    <!-- Visto recientemente -->
    <div class="grid grid-cols-4 gap-4 mb-20">
      <div class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24">Board 1</div>
      <div class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24">Board 2</div>
    </div>
    <!-- FIN Visto recientemente -->

    <!-- Espacios trabajo -->
    <h1 class="text-lg font-bold mb-4 text-gray-600 uppercase">Tus espacios de trabajo</h1>
    <div class="grid grid-cols-4 gap-4 mb-20">
      <div class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24">Board 1</div>
      <div class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24">Board 2</div>
      <div class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-24">Board 3</div>
      <div class="w-full bg-indigo-700 px-4 py-2 rounded text-white font-bold h-24">Board 4</div>
      <div class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24">Board 5</div>
      <div class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-24">Board 6</div>
      <div class="w-full flex justify-center align-middle bg-gray-100 px-4 py-2 rounded text-blue-950 h-24 cursor-pointer hover:bg-gray-200">Crear un tablero nuevo</div>
    </div>
    <!-- FIN Espacios trabajo -->

  </div>
</div>
