<h1 class="font-bold text-blue-p text-base text-center pb-7">
  ¿No puedes iniciar sesión?
</h1>
<form novalidate class="space-y-4">
  <div class="relative">
    <p class="text-xs font-semibold pb-1">Le enviaremos un enlace de recuperación a</p>
    <input
      class="w-full bg-gray-50 rounded border-2 border-gray-300"
      type="text"
      placeholder="Introduzca el correo electrónico"
    />
  </div>
  <div class="relative">
    <app-btn
      routerLink="/app/boards"
      [typeBtn]="'submit'"
      [color]="'apple'">
      Enviar enlace de recuperación
    </app-btn>
  </div>
</form>
