<div class="flex flex-col h-full sm:h-auto sm:min-h-screen">
  <app-navbar></app-navbar>

  <div class="flex w-full grow bg-azteca bg-cover bg-center h-full overflow-y-auto">
    <div>
      <!-- SideMenu lateral -->
      <aside class="w-64 h-full bg-gray-800/60">
        <button type="button" class="w-full  flex justify-between align-center py-2 px-3">
          <div
            class="flex items-center cursor-pointer h-20"
          >
            <img
              class="w-10 h-10 rounded-lg mx-2"
              src="https://api.lorem.space/image/face?w=400&h=400"
              alt=""
            />
            <div class="w-3/4 text-left text-sm block p-2 text-white">
              Espacio de trabajo de Brenda Sutara
            </div>
            <fa-icon [icon]="faAngleRight" class="text-white"></fa-icon>
          </div>
        </button>

        <hr class="border-spacing-0 border-gray-300" />

        <ul class="flex flex-col font-normal text-white text-base py-3">
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="block py-2 px-5"
              ><fa-icon [icon]="faTrello" class="mr-3.5"></fa-icon> Tableros</a
            >
          </li>
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="flex justify-between py-2 px-5">
              <div>
                <fa-icon [icon]="faUsers" class="mr-2"></fa-icon> Miembros
              </div>
              <div>
                <fa-icon [icon]="faPlus"></fa-icon>
              </div>
            </a>
          </li>
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="flex justify-between py-2 px-5">
              <div>
                <fa-icon [icon]="faGear" class="mr-3"></fa-icon> Ajustes de espacio
              </div>
              <div>
                <fa-icon [icon]="faAngleDown"></fa-icon>
              </div>
            </a>
          </li>
        </ul>

        <h2 class="text-left text-base font-bold block px-5 text-white">
          Vistas del Espacio de trabajo
        </h2>

        <ul class="flex flex-col font-normal text-white text-base py-3">
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="block py-2 px-5"
              ><fa-icon [icon]="faTableList" class="mr-3.5"></fa-icon> Tabla</a
            >
          </li>
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="block py-2 px-5"
              ><fa-icon [icon]="faCalendarDays" class="mr-2"></fa-icon> Calendario</a
            >
          </li>
        </ul>

        <div class="flex justify-between py-2 px-5">
          <div>
            <h2 class="text-left text-base font-bold block text-white">
              Sus tableros
            </h2>
          </div>
          <div class="text-white">
            <fa-icon [icon]="faPlus"></fa-icon>
          </div>
        </div>

        <ul class="flex flex-col font-normal text-white text-base">
          <li class="hover:bg-white/40 cursor-pointer">
            <a class="flex py-2 px-5">
              <img
                class="w-8 h-8 rounded-lg mr-3"
                src="https://api.lorem.space/image/face?w=400&h=400"
                alt=""
              />
              ¡Bienvenido a Trello!
            </a>
          </li>
        </ul>


      </aside>
      <!-- FIN SideMenu lateral -->
    </div>

    <!-- Columna contenido -->
    <div>
      <div class="flex w-full bg-black/30 px-4 py-2">

          <div class="flex align-center justify-center px-4 py-2 text-white">
            <h2 class="text-xl font-bold pr-5">
              Ruta de Aprendizaje de Angular
            </h2>
            <fa-icon [icon]="faStar" class="mt-1"></fa-icon>
          </div>
          <button class="flex align-center justify-center mx-2 px-4 py-2 text-white rounded-md hover:bg-gray-50/10 cursor-pointer">
            <fa-icon [icon]="faLock" class="mt-1"></fa-icon>
            <h2 class="text-lg font-semibold pl-2">
              Privado
            </h2>
          </button>
          <button class="flex align-center justify-center px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-white cursor-pointer">
            <fa-icon [icon]="faTrello" class="mt-1"></fa-icon>
            <h2 class="text-lg font-semibold pl-2">
              Tablero
            </h2>
          </button>
          <button class="flex align-center justify-center mx-2 px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-white cursor-pointer">
            <fa-icon [icon]="faAngleDown" class="mt-1"></fa-icon>
          </button>


        <div>

        </div>
      </div>

      <!-- Contenido de las listas -->
      <div cdkDropListGroup class="flex items-start w-full px-4 pb-4 mt-4 overflow-x-auto">
        <!-- Columnas -->
        <div
          class="rounded-2xl bg-gray-200 w-72 p-2 mr-3 shrink-0"
          *ngFor="let column of columns"
        >
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-semibold ml-2">{{ column.title }}</h3>
            <p class="mr-2">•••</p>
          </div>

          <div
            class="text-sm mt-2 min-h-24"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="column.todos"
          >
            <div
              (click)="openDialog(todo)"
              *ngFor="let todo of column.todos"
              cdkDrag
              class="bg-white shadow-sm border-2 p-2 rounded-xl mt-2 border-b border-x-gray-300 cursor-pointer hover:border-blue-600"
            >
              {{ todo.title }}
            </div>
            <div class="flex justify-between align-center m-2">
              <div class="w-9/12 hover:bg-gray-300 rounded-xl">
                <button
                class="p-2 text-left text-sm font-semibold"
                (click)="addTask()"
                >
                  <fa-icon [icon]="faPlus" class="pr-2"></fa-icon>Añada una tarjeta
                </button>
              </div>
              <div class="flex justify-center w-10 hover:bg-gray-300 rounded-xl pt-2 ">
                <fa-icon [icon]="faImage"></fa-icon>
              </div>
            </div>

          </div>
        </div>
        <!-- FIN Columnas-->

        <button
          class="bg-white/30 hover:bg-white/50 w-72 text-white rounded-2xl p-4 text-base text-left"
          (click)="addColumn()"
        >
          <fa-icon [icon]="faPlus" class="pr-2"></fa-icon>Añada otra lista
        </button>
      </div>
      <!-- FIN Contenido de las listas -->
    </div>
  </div>
</div>
