<footer class="flex justify-center flex-col w-96 fixed bottom-0 pb-10">
  <hr class="border-b-2 border-r-gray-500" />
  <div class="flex justify-center">
    <img
      class="w-40 my-4"
      src="/assets/svg/atlassian-logo-blue-small.svg"
      alt=""
    />
  </div>
  <div>
    <ul class="flex justify-center gap-2">
      <li class="font-light text-gray-500 text-xs">
        <a href="">Templates</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Pricing</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Apps</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Jobs</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Blog</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Developers</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">About</a>
      </li>
      <li class="font-light text-gray-500 text-xs">
        <a href="">Help</a>
      </li>
    </ul>
  </div>
</footer>
